:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color: rgb(255, 255, 255);
  background-color: #242424;
  text-align: center;
}

*, ::before, ::after{
  box-sizing: border-box;
}

body, h1 {
  margin: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}